@use '@angular/material' as mat;

@import "tailwindcss";


$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
    @include mat.all-component-themes($customTheme);

    //ovveride the button styles
    
}

.mat-mdc-snack-bar-container.snack-error {
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.snack-success {
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}
